{% extends 'main/base.html' %}

{% load static %}
<html>

<style type="text/css">
	.text{
		 
		 position:static;
		 margin-right: auto;
		 margin-left: auto;
	  	 padding-top: 500px;	
	  	 

	}




</style>>



{% block title %} About me {% endblock %}

{% block content %}

	<div class = text>	
			<body>	

				<p>	

					I am a first year student at the Univeristy of Waterloo in the computer science program. I love learning new things about code to make new 
		projects. I always think about what I could make easier in my life with code or what service I can offer. I enjoy many other things such as working out, art, and playing chess. I applied to hack the north to further dive in the world of code and to hopefully learn many new things.
		

				</p>




			</body>



	</div>
		

 {% endblock %}

</html>